.list1-container, .list2-container, .buttons-container {
  border: 1px solid black;
  list-style: none;
  width: 400px;
  height: 300px;
}
.main-container {
  display: flex;
  font-size: 20px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
}
button {
  height: 40px;
}
li {
  margin-bottom: 10px;
}
